
.form{
    margin-bottom: 60px;
}

.register-button{
	margin-top: 0px;
	margin-bottom: 0px;
	width: 75% !important;
	background-color: #87949c;
}
// .person-image{
// 	width: 40%
// }
// .form-errors {
//     margin: 0px;
// }