<ion-content class="padding page-parent">
  <div>
    <img src="assets/img/isi_logo.png">
  </div>
  <form name="signinForm" novalidate="" ng-submit="view.signIn(signinForm)">
    
    <ion-list>
    
      <ion-item class="textbox-background mob-content-center">
        <ion-label floating>Username</ion-label>
        <ion-input 
                  type="text"
                  name="username" 
                  ng-model="view.username" 
                  ng-minlength="5" 
                  ng-maxlength="25" 
                  required>
        </ion-input>
      </ion-item>
      
      <ion-item class="textbox-background mob-content-center">
        <ion-label floating>Password</ion-label>
        <ion-input 
                  type="password"
                  name="password"
                  ng-model="view.password" 
                  ng-minlength="5" 
                  ng-maxlength="25"
                  required>
        </ion-input>
      </ion-item>
    
    </ion-list>
      
     <p class="align-center">
        <button ion-button class="button-background">Sign In</button>
     </p>
  </form>
  <p class="text-center mob-flex-center mob-content-center">
    <a (click)="signUp()">Not Registered? Sign Up.</a>
    <button class="button forget-password-button" (click)="forgotPassword()">Forgot Password</button>
  </p>
</ion-content>
